{% extends "auctions/layout.html" %}

{% block body %}
      <h2>Active Listing in {{ category }} category</h2>
      {% if list_of_listings != None %}
        <div class="row">
            {% for listing in list_of_listings %}
              <div class="card mx-3" style="width: 250px; margin-bottom: 50px;">
                <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
                  <div class="card-body">
                      <a href="{% url 'listing_view' listing_id=listing.id %}"><h5 class="card-title">{{ listing.title }}</h5></a>
                      <h6 class="card-text">Current Bid: ${{ listing.current_bid }}</h6>
                      <p class="card-text">{{ listing.description }}</p>
                      <a href="{% url 'listing_view' listing_id=listing.id %}" class="btn btn-primary">More Details</a>
                  </div>
              </div>
            {% endfor %}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          No active listings are available in this category.
        </div>      
      {% endif %}
{% endblock %}